.container-fluid{
  padding: 10px;
}



.btn.btn-outline-primary{
  margin-left: 10px;
  align-items: right;
  border-color: slateblue;
  color: slateblue;
}

.hv:hover{
  border-color: white;
  color: white;
  background-color: slateblue;
}

