<div class="container-fluid">
<h1>Course Navigator ({{courses.length}})</h1>

  <div class="row">

    <div class="col-3">
      <ul class="list-group">
        <li class="list-group-item active">Courses</li>
        <li *ngFor="let course of courses"
            (click)="selectCourse(course.id)"
            class="list-group-item">
          {{course.title}}
        </li>

      </ul>
    </div>


    <div class="col-3">

      <ul class="list-group">
        <li class="list-group-item active">Modules</li>
        <li *ngFor="let module of modules"
            (click)="selectModule(temp_course_id, module.id)"
            class="list-group-item">
          {{module.title}}
        </li>

      </ul>

    </div>


    <div class="col-3">

      <ul class="list-group">
        <li class="list-group-item active">Lessons</li>
        <li *ngFor="let lesson of lessons" class="list-group-item">
          {{lesson.title}}
        </li>

      </ul>
    </div>

    <div class="col-3">

      <ul class="list-group">
        <li class="list-group-item active">widgets</li>
        <li *ngFor="let course of courses" class="list-group-item">
          {{course.title}}
        </li>

      </ul>
    </div>

  </div>


</div>
