<div class="jumbotron">
  <h1 class="display-4">Welcome to whiteboard</h1>
  <p class="lead">Number the offered courses in this semester is: {{courses.length}} </p>
  <p><small>Note for TA: only CS5600 has module data, Thanks</small></p>


</div>


<div class="row">
  <div *ngFor="let course of courses" class="col-sm-3">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">{{course.title}}</h5>
        <p class="card-text">This course is {{course.title}}</p>
        <div class="row">
          <div class="col-sm-12 mar">
        <a routerLink="/course/{{course.id}}" class="btn btn-primary color">Modules</a>
          </div>
          <div class="col-sm-12 mar">
        <a routerLink="/course/{{course.id}}/section" class="btn btn-primary color">Show Sections</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
