<div class="container-fluid">
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand">Register</a>
  </nav>

<form>
  <div class="form-group">
    <label>Username</label>

  <input [(ngModel)]="username"
         placeholder="Enter username"
         class="form-control"
         [ngModelOptions]="{standalone: true}"/>
  </div>


  <div class="form-group">
    <label>Password</label>
  <input [(ngModel)]="password"
         placeholder="Enter password"
         class="form-control"
         [ngModelOptions]="{standalone: true}"/>
  </div>

  <div class="form-group">
    <label>Verify Password</label>
  <input [(ngModel)]="password2"
         placeholder="verify password"
         class="form-control"
         [ngModelOptions]="{standalone: true}"/>
  </div>

  <div class="form-group">
    <label>First Name</label>
    <input [(ngModel)]="user.firstName"
           placeholder="verify password"
           class="form-control"
           [ngModelOptions]="{standalone: true}"/>
  </div>

  <div class="form-group">
    <label>Last Name</label>
    <input [(ngModel)]="user.lastName"
           placeholder="verify password"
           class="form-control"
           [ngModelOptions]="{standalone: true}"/>
  </div>

  <div class="form-group">
    <label>Email</label>
    <input [(ngModel)]="user.email"
           placeholder="verify password"
           class="form-control"
           [ngModelOptions]="{standalone: true}"/>
  </div>


  <div class="form-group">
    <label>User Type:</label>
  <select class="form-control"
          [(ngModel)]="user.userType"
          [ngModelOptions]="{standalone: true}">
    <option value="admin">Admin</option>
    <option value="faculty">Faculty</option>
    <option value="student">Student</option>
  </select>
  </div>


  <button (click)="register(username, password, password2)"
          class="btn btn-primary btn-block color">
    Register
  </button>

</form>


  <span routerLink="/login" class="btn btn-secondary btn-sm mar">Login</span>
  <span routerLink="/home" class="btn btn-secondary btn-sm mar">Home</span>

</div>

<div class="modal-footer">
  <a class="gitcolor">GitHub:</a>
  <a class="gitcolor" href="https://github.com/singhattinder">@singhattinder</a>
</div>
