<div class="container-fluid">
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand">Register</a>
  </nav>

<form>
  <div class="form-group">
    <label>Username</label>

  <input [(ngModel)]="username"
         placeholder="Enter username"
         class="form-control"
         [ngModelOptions]="{standalone: true}"/>
  </div>


  <div class="form-group">
    <label>Password</label>
  <input [(ngModel)]="password"
         placeholder="Enter password"
         class="form-control"
         [ngModelOptions]="{standalone: true}"/>
  </div>

  <div class="form-group">
    <label>Verify Password</label>
  <input [(ngModel)]="password2"
         placeholder="verify password"
         class="form-control"
         [ngModelOptions]="{standalone: true}"/>
  </div>


  <button (click)="register(username, password, password2)"
          class="btn btn-primary btn-block">
    Register
  </button>

</form>


  <span routerLink="/login" class="badge badge-pill badge-secondary">Login</span>
  <span routerLink="/home" class="badge badge-pill badge-secondary">Home</span>

</div>
